.note {
    border: blue 1px solid;
}

.email {
    border: green 1px solid;
}

.todo_ {
    border: red 1px solid;
}

#entry {
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

#filter {
    border: black 1px solid;
    margin-bottom: 10px;
    padding: 10px;
}

#result {
    border: black 1px solid;
    padding: 10px;
}

#email {
    color:red;
    text-align: center;
    display: none;
}