header {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    background-color: gray;
}

li a:hover {
    text-decoration: none;
    background-color: cyan;
    display: block;
    padding: 8px;
}

section {
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article {
    height: 100%;
    width: 70%;
    display: table-cell;
}

aside {
    width: 30%;
    display: table-cell;
}

aside cite {
    padding-bottom: 79%;
}

#title {
    font-size: 30px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

form {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

label {
    font-size: 20px;
    margin-left: 10px;
}

input, select, textarea {
    float: right;
    width: 70%;
}

input[type=submit] {
    width: 50%;
}

footer {
    text-align: center;
}